@use "sass:math";
//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Gilroy";
$fontSize: 16;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1270;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

//$mainColor: #7e94a2;
//$mainColor: #c09d99;
//$mainColor: #b9a082;
//$mainColor: #AC4034;
//$mainColor: #AB2524;
//$mainColor: #E75B12;
//$mainColor: #DD7907;
//$mainColor: #FA842B;
//$mainColor: #AC323B;
//$mainColor: #B24C43;
//$mainColor: #933D50;
//$mainColor: #8773A1;
//$mainColor: #6B6880;
//$mainColor: #384C70;
//$mainColor: #2E5978;
//$mainColor: #21888F;
//$mainColor: #07737A;
//$mainColor: #296478;
//$mainColor: #327662;
//$mainColor: #276235;
//$mainColor: #007243;
$mainColor: #478A84;
//$mainColor: #0F8558;
//$mainColor: #6a8f8f;
$darker-color: darken($mainColor, 10%);
$lighter-color: lighten($mainColor, 10%);

$mainTextColor: #3A3A3A;

$greyColor: #f0f0f0;
$greyColorMedium: #c0c0c0;
$greyColorDark: #616161;

$bgfColor: #f0f0f0;
$bgsColor: #f0f0f0;

$borderColor: #d8d8d8;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
svg path {
	stroke:inherit;
	stroke-width:inherit;
	fill:inherit;
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: $mainTextColor;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	padding: 0 15px;
	margin: 0 auto;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
@import "lightgallery";
@import "header";
@import "section-top";
@import "section-categories";
@import "section-products";
@import "section-benefits";
@import "section-collections";
@import "section-tips";
@import "footer";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
}
//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
